


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* Custom Scroll Bar CSS */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #d39df0;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #b796bf;
}

/*styling body*/

body { 
    background-color:rgb(230, 203, 240);
}


/*styling navbar*/

.navbar-section {

    overflow: hidden;
    background-color: white;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;
  
    
}

a{
    text-decoration:none ;
    color: black;
}

a:hover {
    color:#b796bf;
}

ul {
    list-style: none;
    text-decoration: none;
   

}

li {
padding: 10px;
}

/*styling home section*/

.home-section {
    width: 100%;
    height: 800px;
    margin-top: 60px;
    margin: 0 auto;
    background-image: url(img/pen-notebook-near-keyboard_23-2147929704.avif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;
    
    
}

.home .home-content {
    width:90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0 auto;
   
    
}

.text-one {
    font-size: 30px;
}

.text-two {
    font-size: 50px;
}

.text-three {
    font-size: 35px;
}

.text-four {
    font-size: 24px;
}

span::before {
    content: "Software Engeneer";
    animation: animate infinite 5s;
    padding-left: 10px;
}

@keyframes animate {

    0% {
        content: "Frontend developer";
    }

    50% {
        content: "Web Designer";
    }

    75% {
        content: "App developer";
    }
}


button {
    padding: 20px 30px;
    margin-top: 30px;
    background-color: #b796bf;
    border: transparent;
    border-radius: 35px;
    color: white;
    font-size: 20px;

}

button:hover {
    padding: 20px 30px;
    margin-top: 30px;
    background-color: white;
    border: transparent;
    border-radius: 35px;
    color: #b796bf;

}

/*styling about section*/

.about-content {
    padding: 15px;
    padding-top: 20px;
}

.about-text {
    width: 600px;
    height: 100%;
    margin-left: 90px;
    box-shadow: 2px 2px 4px #9975a2;  
    border-radius: 90px;
    padding:50px;
}


.about-image {
    width: 400px;
    height: 400px;
    background-image: url(img/programing-aboutme.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 90px;
    padding: 50px;
  
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 45px;
    font-family: 'Noto Serif Makasar', serif;
}

 h5 {
    text-align: center;
 } 

 p {
    padding-top: 10px;
    font-size: 20px;
 }






/*styling skill section*/




.card {
    margin: 10px;
    height:180px;
    width: 100px;
    
   
}

.html {
    display: block;
    margin: 0 auto;
    padding-top: 15px;
}

.css {
    display: block;
    margin: 0 auto;
    padding-top: 8px;
}

.javascript {
    display: block;
    margin: 0 auto;
    padding-top: 15px;
}

.bootstrap {
    display: block;
    margin: 0 auto;
    padding-top: 15px;
}


/*styling project section*/


.container {
    padding:20px;
}

.card-project {
    margin-left: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding:10px;
    box-shadow: 2px 2px 4px #9975a2 ;
}

.card-project:hover {
   background-color: #b796bf;
   color: white;
   width:300px;
}

.weather-app:hover {
  width: 250px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
 filter: grayscale(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);

    };


.login {
    height: 220px;
    
}

.login:hover {
    width: 250px;
    height: 200px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    filter: grayscale(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
   
}

.netflix {
    height: 213px;
}

.netflix:hover {
    width: 250px;
    height: 200px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    filter: grayscale(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
 
}

.landing-page {
    height: 213px;
}

.landing-page:hover {
    width: 250px;
    height: 200px;
    display: block;
     margin: 0 auto;
     cursor: pointer;
    filter: grayscale(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);

}



h2 {
    text-align: center;
    margin-top: 10px;
     font-family: 'Noto Serif Makasar', serif;
     font-size: 20px;
}